<center>
</main>    
    <link rel="stylesheet" href="/styles/styles_card.css">
<div class="container2">
    <div class="row justify-content-center">
      <div class="col-md-2">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img src="/images/rembrandt_van_rijn.jpg" class="card-img-top" alt="Rembrandt Van Rijn">
            </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Rembrandt Van Rijn</h5>
                <p class="card-text">Nacido en el seno de una acomodada familia de molineros, Rembrandt van Rijn recibió una esmerada educación y llegó a ingresar en la Universidad de Leiden, donde estudió un curso...</p>
                <a href="/rembrandt" class="btn btn-primary">Ver Pintor</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/vincent_van_gogh.jpg" class="card-img-top" alt="Vincent Van Gogh" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Vincent Van Gogh</h5>
                <p class="card-text">Van Gogh nació en 1853 y creció en Holanda. Fue criado en una familia religiosa con su padre siendo un ministro...</p>
                <a href="/vincent" class="btn btn-primary">Ver Pintor</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/leonardo_da_vinci.jpg" class="card-img-top" alt="Leonardo Da Vinci" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Leonardo Da Vinci</h5>
                <p class="card-text">Leonardo nació en 1452 en la villa toscana de Vinci, hijo natural de una campesina, Caterina (que se casó poco después con un artesano de la región), y de Ser Piero, un rico notario florentino...</p>
                <a href="/leonardo" class="btn btn-primary">Ver Pintor</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/paul_cezanne.jpg" class="card-img-top" alt="Paul Cézanne" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Paul Cézanne</h5>
                <p class="card-text">Paul Cézanne nació el 19 de enero de 1839 en Aix-en-Provence, sur de Francia. Hijo de Anne-Elisabeth Honorine Aubert y de Louis-Auguste Cézanne, un banquero acaudalado...</p>
                <a href="/paul" class="btn btn-primary">Ver Pintor</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/claude_monet.jpg" class="card-img-top" alt="Claude Monet" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Claude Monet</h5>
                <p class="card-text">Claude Monet (1840-1926) es el verdadero promotor del Impresionismo, al que siempre se mantuvo fiel. Nació en 1840 en París...</p>
                <a href="/claude" class="btn btn-primary">Ver Pintor</a>
              </div>
            </div>
      </div>
    </div>
</div>
</center>