<nav class="navbar navbar-expand-lg navbar-light bg-warning mb-2">
    <img src="https://vignette.wikia.nocookie.net/logocreation/images/5/5b/Paint_Windows_7.png/revision/latest/scale-to-width-down/340?cb=20100719145047&path-prefix=es" alt="Icono de Paint" width="30" height="30" class="d-inline-block align-top" loading="lazy">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/rembrandt">Rembrandt Van Rijn<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/vincent">Vincent Van Gogh</a>
      <a class="nav-item nav-link" href="/leonardo">Leonardo Da Vinci</a>
      <a class="nav-item nav-link" href="/paul">Paul Cézanne</a>
      <a class="nav-item nav-link" href="/claude">Claude Monet</a>
    </div>
  </div>
</nav>
<main>