{{> header}}
{{> navbar}}
    <script src="/scripts/funciones.js"></script>
    <h1>¡Hola!</h1>
    <h2>En esta página veras los pintores que he elegido. Elije un pintor para ver mas detalles</h2>
</main>
{{> card}}
{{> footer}}

